body {
    font-family: 'Lato', Verdana;
    font-size: 100%;
    background:  rgb(176, 204, 233);
    float: none;
    
    width: 62%;
    display: table;
    margin: 150px 350px;
    }
    
    header{
        top: 15000px; 
        left: 2000px;
        background: #204e4e;
        border-radius:  15px 15px 0 0;
        padding: 15px;
       
    }
    p{
    position: absolute;
    color: #091218;
    size: 28px;
    top: 225px ;
    left: 1100px;
    font-size: 20px;
    font-family:Arial, sans-serif;
    font-weight: bold;
    }
    k{
        position: absolute;
        color: #091218;
        size: 28px;
        top: 326px ;
        left: 1100px;
        font-size: 20px;
        font-family:Arial, sans-serif;
        font-weight: bold;
    }
    b{
        position: absolute;
        color: #091218;
        size: 28px;
        top: 429px ;
        left: 1100px;
        font-size: 20px;
        font-weight:lighter;
        font-family:Arial, sans-serif;
        font-weight: bold;
    }
    e{
        position: absolute;
    color: #091218;
    size: 28px;
    top: 529px ;
    left: 1100px;
    font-size: 20px;
    font-family:Arial, sans-serif;
    font-weight: bold;
    }
    w{
        position: absolute;
        color: #091218;
        size: 28px;
        top: 732px ;
        left: 1100px;
        font-size: 20px;
        font-family:Arial, sans-serif;
        font-weight: bold;
    }
    t{
        position: absolute;
        color: #091218;
        size: 28px;
        top: 629px ;
        left: 1100px;
        font-size: 20px;
        font-family:Arial, sans-serif;
        font-weight: bold;
    }
    button{
        background-color: #8ac1c5;
        text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 10px 30px;
      position: relative;
      top: -650px;
      display: block;
       border: none;
       box-shadow: #f8f8f8;
       border-radius: 20px;
     transform:translate(500px 500px);
     
     margin: 60px 600px ;
    }
   button:hover {
    background: #132936; /* Цвет фона под ссылкой */ 
   }
    a{
        text-decoration: none;
        color: #f8f8f8;
    }
    
    footer{
        text-align: center;
        background: #204e4e;
        border-radius: 0 0 15px 15px ;
        padding: 10px;
       
    
    }
    d{
        color: black;
        text-align: right;
       }
       d:hover
       {
         color: rgb(32, 48, 66);
       }
    *{
    margin: 0;
    padding: 0;
    }
    form{
        background: #ffffff;
          border-radius: 5px;
          size: 500px;
          height: 600px;
          width: 1200px;
    }
   
    
    
    