body {
font-family: 'Lato', Verdana;
font-size: 100%;
background:  rgb(176, 204, 233);

width: 62%;
display: table;
margin: 150px 350px;

}




adaptivny-slayder {
  position:relative;
  max-width: 300px;
  margin: 10px 10px;
  box-shadow: 0 10px 20px -50px rgba(0, 0, 0, 0.75);
}

.adaptivny-slayder input[name="kadoves"] {
  display: none;
 
}

.kadoves {
  position: absolute;
  left: -270px;
  top: 710px;

  bottom: 80px;
  text-align: center;
  width: 100%;
}

.kadoves label {
  display: inline-block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 50px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
  border-radius: 50%;
  border: 5px solid #8ac1c5;
  background-color: #204e4e;
}

#slaid1:checked~.kadoves label[for="slaid1"] {
  background-color: white;
}

#slaid2:checked~.kadoves label[for="slaid2"] {
  background-color: white;
}

#slaid3:checked~.kadoves label[for="slaid3"] {
  background-color: white;
}

.adaptivny-slayder-lasekun {
  overflow: hidden;
  width: 25%;
  height: 50%;
position:absolute;
   
}

.abusteku-deagulus {
  display: flex;
  width: 100%;
  transition: all 0.5s;
  
}

.abusteku-deagulus img {
  width: 100%;
  flex-shrink:0;
}

#slaid1:checked~adaptivny-slayder-lasekun abusteku-deagulus {
  transform: translate(0);
}

#slaid2:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
  transform: translateX(-100%);
}

#slaid3:checked~.adaptivny-slayder-lasekun .abusteku-deagulus {
  transform: translateX(-200%);
}






header{
    top: 15000px; 
    left: 2000px;
    background: #204e4e;
    border-radius:  15px 15px 0 0;
    padding: 15px;
    
}
p{
color: #8ac1c5;
position: absolute;
 top: 250px ;
 left: 980px;
font-size: 50px;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
  background-color: #204e4e;
    text-align: center;
  padding: 10px 70px;
  display: inline-block;
   border: none;
   box-shadow: #f8f8f8;
   font-size: 40px;
   border-radius: 40px;
 position: absolute;
 top: 530px ;
 left:1070px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


 button:hover {
  background: #132936; /* Цвет фона под ссылкой */ 
  color: rgb(0, 0, 0); 
 }
footer{
    text-align: center;
    background: #204e4e;
    border-radius: 0 0 15px 15px;
    padding: 10px;
   

}
a{
  text-decoration: none;
  color: #f8f8f8;
  
}
.img img{
  position: absolute;
  border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
  padding: 15px; /* Расстояние от картинки до рамки */
  background: #204e4e; /* Цвет фона */
}
d{
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 18px;
  font-family: Arial Narrow, sans-serif;
 }
 d:hover
 {
   color: rgb(0, 0, 0);
   font-weight: bold;
 }
*{
margin: 0;
padding: 0;
}

form{
    background: #ffffff;
      border-radius: 5px;
      size: 500px;
      height: 600px;
          width: 1200px;
    
}


